body{
  background-image: url("../visual/png/background.png");
  background-size: cover;
}

p{
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	color: white;
}
table{
	padding: 20px 30px;
	background-color: white;
	border-spacing: 0px;
}
table th{
	background-color: #999999
}
table td{
	padding: 10px 150px;
}
.cGroup{
	display: block;
	text-decoration: none;
	padding: 10px 0px;
	text-align: center;
	background-color: #00aaaa;
	color: black;
}

.cGroup:hover{
	background-color: aqua;
}

.direction{
	text-decoration: none;
	background-color: #00aaaa;
	color: black;
}

.direction:hover{
	background-color: aqua;
}