* {
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url("../visual/png/background.png");
	background-size: cover;
}


a{
	text-decoration: none;
	color: red;
}

.already{
	margin-top: 250px;
	font-size: 26px;
	color: white;
}