body {
	background-image: url("../visual/png/background.png");
	background-size: cover;
}
.login-signup-with-buttons {
	background-color: #161F49;
	border: 10px solid #0D132D;
	border-radius: 10px;
	width: 270px;
	margin: 10% 40% 10% 40%;
	position: relative;
}
.wholething {
	position: relative;
	display: block;
	padding: 0px;
	overflow: hidden;
}
.signup {
	color: white;
	display: none;
	background-color: inherit;
	float: left;
	width: 250px;
	border: 10px solid #0D132D;
	border-radius: 5px;
}
.login {
	color: white;
	background-color: inherit;
	float: left;
	width: 250px;
	border: 10px solid #0D132D;
	border-radius: 5px;
}
a {
	color: white;
	text-decoration: none;
	float: left;
}
#signButton {
	background-color: inherit;
	border: 4px solid #0D132D;
	border-radius: 5px;
	padding: 5px 45px 5px 40px;
}
#logButton {
	background-color: inherit;
	border: 4px solid #0D132D;
	border-radius: 5px;
	padding: 5px 40px 5px 45px;
}
