* {
	padding: 0px;
	margin: 0px;
}
body {
	background-image: url("../visual/png/background.png");
	background-size: cover;
}
h1{
	color: #fff;
}
.ans {
	float: left;
	margin: 10px 400px;
	width: 750px;
	background-color: #FFF;
	font-size: 18px;
	border-width: thick 5px #fff;
	padding: 10px;
	border-radius: 5px;
}
.ans a{
	text-decoration: none;
}
#answerbutton{
	text-decoration: none;
	font-size: 18px;
	color: #488DDB;
	margin: 10px 400px;
}